@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#home_landing_sector {
  background-color: #EDF6FF;
  font-family: 'Raleway', sans-serif;
}

#home_landing_button {
  background-color: #B9732F;
  border-width: 0;
  border-radius: 0;
}

#home_landing_button:hover {
  background-color: gray;
}

@media screen and (min-width: 1401px) {
  #home_landing_container {
    padding-left: 5rem;
    padding-top: 10rem;
    padding-bottom: 20rem;
  }

  #home_landing_title {
    font-size: 3rem;
  }

  #home_landing_subtitle {
    width: 50%;
  }
}

@media screen and (max-width: 1400px) {
  #home_landing_container {
    padding-left: 5rem;
    padding-top: 10rem;
    padding-bottom: 20rem;
  }

  #home_landing_title {
    font-size: 3rem;
  }
  
  #home_landing_subtitle {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  #home_landing_container {
    padding-left: 4rem;
    padding-top: 9rem;
    padding-bottom: 18rem;
  }

  #home_landing_title {
    font-size: 3rem;
  }
  
  #home_landing_subtitle {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  #home_landing_container {
    padding-left: 3rem;
    padding-top: 8rem;
    padding-bottom: 16rem;
  }

  #home_landing_title {
    font-size: 2rem;
  }

  #home_landing_subtitle {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  #home_landing_container {
    padding-left: 2rem;
    padding-top: 6rem;
    padding-bottom: 12rem;
  }

  #home_landing_title {
    font-size: 2rem;
  }
  
  #home_landing_subtitle {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  #home_landing_container {
    padding-left: 1rem;
    padding-top: 5rem;
    padding-bottom: 10rem;
  }

  #home_landing_title {
    font-size: 2rem;
  }

  #home_landing_subtitle {
    width: 90%;
  }
}
