#services_sector {
  font-family: 'Raleway', sans-serif;
}

#services_title_container {
  background-color: #EDF6FF;
}

.services_item {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.services_item h4 {
  color: #B9732F;
}

@media screen and (orientation: portrait) {
  .services_item {
    height: fit-content !important;
  }

  .services_items_container:last-of-type {
    flex-direction: column-reverse;
  }

  .services_item {
    width: 100% !important;
  }
}